<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Encuestas</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input type="email" label="Email" labelPlacement="floating" placeholder="Enter text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Password" labelPlacement="floating" placeholder="Enter text"></ion-input>
        </ion-item>
          <ion-button color="dark" fill="clear">Forgot email/password</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
